<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FinalProjectCPSY200</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customercontroller">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer Controller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipmentcontroller">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Equipment Controller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rentalcontroller">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rental Controller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categorycontroller">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Category Controller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Report
            </NavLink>
        </div>
    </nav>
</div>
